.columns-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.columns-text-container div {
  margin: 0;
}

.columns-text-container div {
  font-size:  var(--font-size);
  font-weight:  var(--font-weight);
  color: white;
}

.home-container {
  transition: all 1s ease-out;
}

.home-container p {
  font-size:  calc(var(--font-size) + 0.5rem);
  font-weight:  var(--font-weight);
  color: white;
  padding-top: 14rem;
  margin: 0;
}

#line-gb-img {
  position: relative;
  /* font-size: 2vw; */
  /* width: 12vw; */
  top: -8rem;
  right: -1rem;
  z-index: -1;
}

.div-pad {
  padding:  var(--font-size) 0;
  text-align: center;
}

.div-small-container {
  border: 1px solid lightgray;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.097);
  backdrop-filter: blur(6px);
  border-radius: 5px;
}

@media only screen and (max-width: 375px) {
  /* shift video to the right  */
  #line-gb-img {
    /* right: -30px; */
    right: 2rem;
  }
}

@media only screen and (max-width: 578px) {
  /* shift video to the right  */
  #line-gb-img {
    /* right: -30px; */
    top: -200px;
  }
}

@media only screen and (min-width: 1400px) {
  #differentiated-text {
    font-size:  calc(var(--font-size) + 1.5rem);
  }
  #line-gb-img {
    /* right: -30px; */
    top: -200px;
  }
}

@media only screen and (min-width: 1500px) {
  #differentiated-text {
    font-size:  calc(var(--font-size) + 2.5rem);
  }
}
