.columns-text-container {
  display: flex;
  gap: 10px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.columns-text-container div {
  margin: 0;
}

.columns-text-container div {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.home-container p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-top: 14rem;
  margin: 0;
}

#line-gb-img {
  position: relative;
  /* font-size: 2vw; */
  /* width: 12vw; */
  top: -8rem;
  right: -1rem;
  z-index: -1;
}

.div-pad {
  padding: 1.25rem 0;
  text-align: center;
}

.div-small-container {
  border: 1px solid lightgray;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.097);
  backdrop-filter: blur(2px);
  padding: 5px;
}

@media only screen and (max-width: 578px) {
  /* shift video to the right  */
  #line-gb-img {
    /* right: -30px; */
    top: -200px;
  }
}
