.contact-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.contact-container {
  display: flex;
  width: 100%;
}

.contact-location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
}

.contact-info div{
  font-size:  var(--font-size);
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.contact-header {
  color:  var(--main-color);
  font-size:  var(--font-size) !important;
  cursor: pointer;
}

.contact-long-text {
  font-size:  var(--font-size);
}

@media only screen and (max-width: 820px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-location-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1160px) {
  .contact-container {
    height: 65vh;
  }
  .contact-container iframe {
    height: 65vh;
  }
}
