.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

#main-logo,
#main-logo-text {
  height: 2.6875rem;
}

#main-logo-text {
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  border: 1px solid #BE9A60;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #BE9A60;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
