.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar li a {
  color: white;
  /* color: black; */
  text-decoration: none;
  font-weight: 900;
}

.navbar-white {
  background-color: white;
}
.navbar-white li a {
  color: black;
}

#main-logo {
  height: 2.6875rem;
}

#main-logo-img {
  cursor: pointer;
  height: 5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  border: 1px solid #be9a60;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #be9a60;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger-react {
  display: none !important;
}

.show-menu {
  display: block !important;
}

@media only screen and (max-width: 1180px) {
  .hamburger-react {
    display: block !important;
  }
  .navbar-menu {
    display: none;
  }
  .small-screen-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #be9a6082;
    width: 100%;
    padding: 1rem;
    animation-name: moveInLeftMenu;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
  }
}

@keyframes moveInLeftMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
