* {
  /* this makes the box not include extra size when adding "padding" */
  box-sizing: border-box; 
}


.App {
  /* text-align: center; */
  margin: 0 10rem;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}